

.input {
  width: 548px;
  height: 48px;
  padding: 12px;
  background: #f4f4f4;
  border-radius: 12px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.input-file {
  transition: 0.3s ease-in-out;

  &:hover {
    background: $blue;
  }
}

.input-file::-webkit-file-upload-button {
  display: none;
}
