.header {
  margin-bottom: 48px;
}

.main-page_page-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: $text-color;
}

.header__profile-wrapper {
  display: flex;
  align-items: center;
}
