

.main-page__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.main-page__page-title {
  margin: 0;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: $text-color;
  margin-bottom: 48px;
}

