*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Noto Sans";
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: $text-color;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input-label {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #33383f;
}

.textarea {
  padding: 12px;
  width: 548px;
  height: 200px;

  background: #f4f4f4;
  border-radius: 12px;
  border: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  letter-spacing: -0.015em;

  color: #9a9fa5;
  resize: none;
}

.switch-button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.action-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.count {
  margin-left: 8px;
}
